<ion-view title="Calendar" hide-back-button="true" id="page10" class=" ">
    <ion-content padding="true" class="has-header">

<!-- PLACE HOLDER CALENDAR IMAGE -->
    <div>
       <div id ="c" class="calendar" ui-calendar="calOptions" ng-model="eventSources"> 
    </div>
        
        <!-- <div class="list card " id="calendar-card21">
            <div class=" item item-image" style="margin-left: -10px; width: calc(100% + 20px);">
                <a style="display:block;" ui-sref="newEvent">
                    <img src="img/mMu5cPPJT1O4KM1oxLXu_Screen Shot 2016-05-27 at 11.07.08 AM.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </a>
            </div>
        </div> -->

<!-- END PLACEHOLDER CALENDAR -->

<!-- PLACEHOLDER EVENT LIST -->
        <ion-list id="calendar-list12" class=" ">
            <ion-item id="calendar-list-item33" ui-sref="mathClass" class="  ">Math Class
                <span class="item-note">9:00am - 10:00am</span>
            </ion-item>
            <ion-item id="calendar-list-item34" class="  ">Biology
                <span class="item-note">10:00am - 11:00am</span>
            </ion-item>
            <ion-item id="calendar-list-item35" class="  ">Lunch
                <span class="item-note">11:00 am - Noon</span>
            </ion-item>
        </ion-list>
<!-- END EVENT LIST -->

    </ion-content>
</ion-view>
