
 <ion-toggle toggle-class="toggle-positive" id="newEvent-toggle1" class=" " ng-click="clicked()">Repeats</ion-toggle>
 	<div id="addAClass-button-bar2" class=" button-bar ">
        <button ng-show="myVar" ng-class="classSun" ng-click="changeClassSun(repeat)" id="addAClass-button16" class=" button button-positive button-small button-block button-outline buttonSun">S</button>
        <button ng-show="myVar" ng-class="classMon" ng-click="changeClassMon(repeat)" id="addAClass-button20" class=" button button-positive button-small button-block button-outline buttonMon">M</button>
        <button ng-show="myVar" ng-class="classTue" ng-click="changeClassTue(repeat)" id="addAClass-button24" class=" button button-positive button-small button-block button-outline buttonTue">Tu</button>
        <button ng-show="myVar" ng-class="classWed" ng-click="changeClassWed(repeat)" id="addAClass-button25" class=" button button-positive button-small button-block button-outline buttonWed">W</button>
        <button ng-show="myVar" ng-class="classThur" ng-click="changeClassThur(repeat)" id="addAClass-button26" class=" button button-positive button-small button-block button-outline buttonThur">Th</button>
        <button ng-show="myVar" ng-class="classFri" ng-click="changeClassFri(repeat)" id="addAClass-button27" class=" button button-positive button-small button-block button-outline buttonFri">F</button>
        <button ng-show="myVar" ng-class="classSat" ng-click="changeClassSat(repeat)" id="addAClass-button28" class=" button button-positive button-small button-block button-outline buttonSat">S</button>
 	</div>