<ion-view title="New Event" id="page16" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <div class="spacer" style="width: 285px; height: 27px;"></div>
        <form id="newEvent-form13" class="list ">
            <label class="item item-input " id="newEvent-input9">
                <input type="text" placeholder="Title" ng-model="calEvent.title">
            </label>
            <label class="item item-input " id="newEvent-input10">
                <input type="text" placeholder="Location" ng-model="calEvent.location">
            </label>
            <div class="spacer" style="width: 285px; height: 27px;"></div>
            <ion-toggle toggle-class="toggle-positive" id="newEvent-toggle1" class=" ">All Day</ion-toggle>
            <label class="item item-input " id="newEvent-input11">
                <span class="input-label">Starts</span>
                <input type="date" placeholder="" ng-model="calEvent.start">
            </label>
            <label class="item item-input " id="newEvent-input15">
                <span class="input-label">Ends</span>
                <input type="date" placeholder="" ng-model="calEvent.end">
            </label>
            <label class="item item-select " id="newEvent-select1">
                <span class="input-label">Repeats</span>
                <select>
                    <option>Never</option>
                    <option>Every Day</option>
                    <option>Every Week</option>
                    <option>Every 2 Weeks</option>
                    <option>Every Month</option>
                    <option>Every Year</option>
                </select>
            </label>
            <label class="item item-input " id="newEvent-textarea1">
                <span class="input-label"></span><textarea placeholder="Notes" ng-model="calEvent.notes"></textarea>
            </label>
        </form>
        <a  id="newEvent-button14" class=" button button-positive  button-block " ng-click="createEvent(calEvent)">Save Event</a>
        <a ui-sref="tabsController.calendar_tab2" id="newEvent-button39" class=" button button-assertive  button-block ">Cancel</a>
    </ion-content>
</ion-view>