<ion-view title="Edit Task" id="page14" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">

        <div class="spacer" style="width: 285px; height: 27px;"></div>
        <form id="editToDo-form16" class="list " ng-submit="updateTask(selectedTask)">
            <label class="item item-input " id="editToDo-input16">
                <input type="text" placeholder="" ng-model="selectedTask.title">
            </label>
            <label class="item item-select " id="editToDo-select5">
                <span class="input-label">Subject</span>
                <select ng-model="selectedTask.class">
                    <option>Chemisty</option>
                    <option>Biology</option>
                    <option>Personal Taks</option>
                </select>
            </label>

            <div class="spacer" style="width: 285px; height: 27px;"></div>

            <label class="item item-input " id="editToDo-input22">
                <span class="input-label">Due Date</span>
                <input type="date" placeholder="{{selectedTask.dueDate}}" ng-model="selectedTask.dueDate">
            </label>

            <div class="spacer" style="width: 285px; height: 31px;"></div>

            <label class="item item-input " id="editToDo-textarea3">
                <span class="input-label"></span><textarea placeholder="{{selectedTask.notes}}" ng-model="task.notes"></textarea>
            </label>



        <div class="spacer" style="width: 285px; height: 37px;"></div>

        <a ng-click="updateTask(selectedTask)" id="editToDo-button11" class=" button button-positive  button-block " >Save Task</a>

        <a ng-click="deleteTask(selectedTask)" id="editToDo-button40" class=" button button-assertive  button-block ">Delete</a>
</form>
    </ion-content>
</ion-view>
