<ion-view title="Notebook" hide-back-button="true" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="notepad-form9" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Notes">
            </label>
        </form>
        <a ui-sref="note" id="notepad-button8" style="border-radius:5px 5px 5px 5px;" class=" button button-positive  button-block icon-left ion-android-add ">Add a note!</a>

<!-- PLACEHOLDER NOTELIST -->
  <div ng-repeat="note in notes track by $index">
    <a ui-seref="editTask({id: task._id})" id="notepad-button8" style="border-radius:5px 5px 5px 5px;" class=" button button-positive  button-block icon-left ion-android-add ">Edit Note
      <p>{{note.message}}</p>
      <!-- <ng-quill-editor ng-model="message" read-only="true" error-class="input-error"> -->
        <!-- should be right here: {{note.message}} -->
      <!-- </ng-quill-editor> -->
      </a>
    </button>


  <!-- {{note.message}} -->

  <hr>
</div>
{{hi}}
<!-- {{olo}} -->
{{hello}}

        <!-- <ion-list id="notepad-list15" class=" ">
            <ion-item class="item-icon-left item-icon-right dark  " id="notepad-list-item69" ui-sref="tabsController.classNoteCards">
                <i class="icon ion-bug"></i>Biology
                <i class="icon ion-images icon-accessory"></i>
            </ion-item>
            <ion-item id="notepad-list-item62" class="  ">Mammals
                <span class="item-note">Tues 5/19</span>
            </ion-item>
            <ion-item id="notepad-list-item24" class="  ">Sea Cucumbers
                <span class="item-note">Wed 5/18</span>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right dark  " id="notepad-list-item70">
                <i class="icon ion-android-sad"></i>Math
                <i class="icon ion-images icon-accessory"></i>
            </ion-item>
            <ion-item id="notepad-list-item25" class="  ">Imaginary Numbers
                <span class="item-note">Mon 5/10</span>
            </ion-item>
            <ion-item id="notepad-list-item26" class="  ">How to add
                <span class="item-note">Fri 5/20</span>
            </ion-item>
        </ion-list> -->
<!-- END PLACEHOLDER    -->
    </ion-content>
</ion-view>
