$ionicons-font-path: "../lib/ionic/fonts" !default;
@import "./../www/lib/ionic/scss/ionic.scss";
body.platform-ios {
	font-family: Lato, sans-serif;
}

.ionic-body.platform-ios {
	font-family: Lato, sans-serif;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,.tab-item,input,button,select,textarea {
	font-family: inherit;
}


@media (max-width: 768px) {
	.phone-holder {
		width: auto;
		height: auto;
		border: 1px solid red;
	}
	#phone-content {
		width: 100% !important;
    height: 100% !important;
	}
}

.phone-holder {
	background-image: url("../img/phone.jpg");
	height: 100vh;
	width: 100vw;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 980px;
}

#phone-content {
	width: 302px;
	height: 536px;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: auto;
}



// ----------HEADER



// ----------SIDEMENU



// ----------DASHBOARD

#dashboard-profile-card {
	padding-bottom: 20px;
}

#dashboard-profile-header {
	padding-bottom: 20px;
	background-color: $royal;
	color: $light;
}

.avatar-container {
	padding-top: 20px;
	text-align: center;
}

.avatar-img {
	border-radius: 50%;
}

#dashboard-subject-card-header {
	line-height: 2.5em;
	background-color: $calm;
	color: #fff;
	margin-top:0px;
}

#dashboard-task-card-header {
	line-height: 2.5em;
	background-color: $calm;
	color: #fff;
	margin-top:0px;
}

#dashboard-task-divider {
	background-color: #9FA8DA;
}






// ----------CALENDAR


// ----------SUBJECTS



// ----------NOTEBOOK


// ----------TASKS


// ----------FOOTER


h1:first-child, .h1:first-child, h2:first-child, .h2:first-child, h3:first-child, .h3:first-child {
	margin-top: 10px;
}








// ----------CALENDAR


// ----------SUBJECTS



// ----------NOTEBOOK


// ----------TASKS


// ----------FOOTER


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, fieldset, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0px;
	font-size: 100%;
}
