<ion-view title="Signup" hide-back-button="true" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signup-form3" class="list ">
            <ion-list id="signup-list3" class=" ">
                <label class="item item-input " id="signup-input6">
                    <span class="input-label">First</span>
                    <input type="text" placeholder="" ng-model="newUser.firstName">
                </label>
                <label class="item item-input " id="signup-input6">
                    <span class="input-label">Last</span>
                    <input type="text" placeholder="" ng-model="newUser.lastName">
                </label>
                <label class="item item-input " id="signup-input7">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="" ng-model="newUser.email">
                </label>
                <label class="item item-input " id="signup-input8">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="newUser.password">
                </label>
            </ion-list>
            <a id="signup-button4" style="font-weight:600;" class=" button button-positive  button-block " ng-click="register(newUser)">Sign up</a>
        </form>
    </ion-content>
</ion-view>
