<ion-view title="Edit Notecard" hide-nav-bar="true" id="page21" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 285px; height: 51px;"></div>
        <ion-list id="editNotecard-list19" class=" ">
            <ion-item class="item-divider " id="editNotecard-list-item-divider11">Front</ion-item>
        </ion-list>
        <form id="editNotecard-form22" class="list ">
            <label class="item item-input " id="editNotecard-textarea5">
                <span class="input-label"></span><textarea placeholder="Add a question"></textarea>
            </label>
        </form>
        <ion-list id="editNotecard-list20" class=" ">
            <ion-item class="item-divider " id="editNotecard-list-item-divider12">Back</ion-item>
            <label class="item item-input " id="editNotecard-textarea6">
                <span class="input-label">Text</span><textarea placeholder="Add the answer"></textarea>
            </label>
        </ion-list>
        <div class="spacer" style="width: 285px; height: 146px;"></div>
        <a ui-sref="tabsController.classNoteCards" id="editNotecard-button32" class=" button button-positive  button-block ">Save</a>
        <a ui-sref="tabsController.classNoteCards" id="editNotecard-button42" class=" button button-assertive  button-block ">Delete Notecard</a>
    </ion-content>
</ion-view>
