<ion-view title="Notecard Study2" hide-back-button="true" id="page23" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <h1 id="notecardStudy2-heading10" style="color:#000000;text-align:center;" class=" ">Biology</h1>
        <div class="item item-body " id="notecardStudy2-list-item-container23">
            <ion-list id="notecardStudy2-list22" class=" ">
                <ion-item id="notecardStudy2-list-item84" class="  ">Thesaurus!</ion-item>
            </ion-list>
            <div id="notecardStudy2-button-bar4" class=" button-bar ">
                <a ui-sref="tabsController.classNoteCards" id="notecardStudy2-button36" class=" button button-assertive  button-block ">Incorrect</a>
                <a ui-sref="tabsController.classNoteCards" id="notecardStudy2-button37" class=" button button-positive  button-block ">Correct!</a>
            </div>
        </div>
    </ion-content>
</ion-view>