<ion-view title="Class Note Cards" hide-back-button="true" id="page20" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <ion-list id="classNoteCards-list14" class=" ">

<!-- PLACEHOLDER NOTECARD LIST -->
            <ion-item class="item-icon-left  " id="classNoteCards-list-item71">
                <i class="icon ion-bug"></i>Biology notecards</ion-item>
        </ion-list>
        <ion-list id="classNoteCards-list18" class=" ">
            <ion-item class="item-icon-right  " id="classNoteCards-list-item72" ui-sref="editNotecard">What is...
                <i class="icon ion-android-create icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="classNoteCards-list-item75">Item 1
                <i class="icon ion-android-create icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="classNoteCards-list-item76">Dinglehopper
                <i class="icon ion-android-create icon-accessory"></i>
            </ion-item>
        </ion-list>

<!-- END PLACEHOLDER -->

        <a ui-sref="tabsController.notecardStudy1" id="classNoteCards-button31" class=" button button-positive  button-block ">Start a study session</a>
    </ion-content>
</ion-view>
