<ion-view title="Tasks" hide-back-button="true" id="page12" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="tasks-list8" class=" ">
            <label class="item item-input" name="Note Search Bar">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Tasks">
            </label>
        </ion-list>
        <a ui-sref="editToDo" id="tasks-button12" class=" button button-positive  button-block ">Add a Task</a>
        <div class="spacer" style="width: 285px; height: 27px;"></div>

<!-- PLACEHOLDER TASK LIST -->
        <ion-list id="tasks-list10" class=" ">
            <ion-item class="item-divider " id="tasks-list-item-divider6">Personal Tasks</ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="tasks-list-item10">
                <i class="icon ion-ios-checkmark-outline"></i>Pizza Party
                <span class="item-note">Tues 5/15</span>
                <i class="icon ion-ios-close-empty"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="tasks-list-item37">
                <i class="icon ion-ios-checkmark-outline"></i>Buy Milk
                <i class="icon ion-ios-close-empty"></i>
            </ion-item>
            <ion-item class="item-divider " id="tasks-list-item-divider7">Math Class</ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="tasks-list-item12">
                <i class="icon ion-ios-checkmark-outline"></i>Buy Pencils
                <span class="item-note">Fri 5/18</span>
                <i class="icon ion-ios-close-empty"></i>
            </ion-item>
            <ion-item class="item-divider " id="tasks-list-item-divider8">Biology</ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="tasks-list-item36">
                <i class="icon ion-ios-checkmark-outline"></i>Biology Test
                <span class="item-note">Weds 5/16</span>
                <i class="icon ion-ios-close-empty"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="tasks-list-item39">
                <i class="icon ion-ios-checkmark-outline"></i>Buy Book
                <i class="icon ion-ios-close-empty"></i>
            </ion-item>
            <ion-item class="item-divider " id="tasks-list-item-divider9">Basketball</ion-item>
        </ion-list>

<!-- END PLACEHOLDER -->

    </ion-content>
</ion-view>
