<ion-view title="Notecards" hide-back-button="true" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="notepad-form9" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Notes">
            </label>
        </form>
        <a ui-sref="note" id="notepad-button8" style="border-radius:5px 5px 5px 5px;" class=" button button-positive  button-block icon-left ion-android-add ">Add a note!</a>
        <a ui-sref='mainNotebook'>Go to Notebook</a>

<!-- PLACEHOLDER NOTELIST -->

  <div ng-repeat="note in notes track by $index" class="ql-editor" contenteditable="false">
    <div class="action-checkbox">
      <input id="{{note.message}}" type="checkbox" value="{{note.message}}" ng-checked="selection.indexOf(note.message) > -1" ng-click="toggleSelection(note._id)"></input>
      <label for="{{note.name}}"></label>
      <a ui-sref="editNote({id: note._id})" id="notepad-button8" style="border-radius:5px 5px 5px 5px;" class=" button button-positive  button-block icon-left ion-android-add ">Edit Note
      <!-- <p>{{note}}</p> -->
      <p ng-bind-html="note.message"></p>

      <!-- <ng-quill-editor ng-model="message" read-only="true" error-class="input-error"> -->
        <!-- should be right here: {{note.message}} -->
      <!-- </ng-quill-editor> -->
      </a>
    </div>
</div>

<br>
<br>
<br>

<button id="notepad-button8" style="border-radius:5px 5px 5px 5px;" class=" button button-positive  button-block icon-left ion-android-add" ng-click="removeNotes()">Remove Notes</button>

<div ng-repeat="selected in selection" class="selected-item">
  {{selected}}
 </div>

  <!-- {{note.message}} -->

  <hr>

<!-- {{olo}} -->


        <!-- <ion-list id="notepad-list15" class=" ">
            <ion-item class="item-icon-left item-icon-right dark  " id="notepad-list-item69" ui-sref="tabsController.classNoteCards">
                 <i class="icon ion-bug"></i>Biology
                <i class="icon ion-images icon-accessory"></i>
            </ion-item>
            <ion-item id="notepad-list-item62" class="  ">Mammals
                <span class="item-note">Tues 5/19</span>
            </ion-item>
            <ion-item id="notepad-list-item24" class="  ">Sea Cucumbers
                <span class="item-note">Wed 5/18</span>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right dark  " id="notepad-list-item70">
                <i class="icon ion-android-sad"></i>Math
                <i class="icon ion-images icon-accessory"></i>
            </ion-item>
            <ion-item id="notepad-list-item25" class="  ">Imaginary Numbers
                <span class="item-note">Mon 5/10</span>
            </ion-item>
            <ion-item id="notepad-list-item26" class="  ">How to add
                <span class="item-note">Fri 5/20</span>
            </ion-item>
        </ion-list> -->
<!-- END PLACEHOLDER    -->
    </ion-content>
</ion-view>
