<ion-view title="Notecard Study1" hide-back-button="true" id="page22" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <h1 id="notecardStudy1-heading9" style="color:#000000;text-align:center;" class=" ">Biology</h1>
        <div class="item item-body " id="notecardStudy1-list-item-container22">
            <ion-list id="notecardStudy1-list21" class=" ">
                <ion-item id="notecardStudy1-list-item83" ui-sref="tabsController.notecardStudy2" class="  ">What is the name of the thing?</ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>