<ion-view title="Dashboard" hide-back-button="true" id="page9" class=" ">
    <ion-content padding="false" scroll="false" class="has-header">
        <h1 id="dashboard-heading7" style="color:#000000;text-align:center;" class=" ">Welcome, {{user.firstName}}</h1>

        <div class="item item-body " id="dashboard-list-item-container13">
            <p id="dashboard-markdown13" style="margin-top:0px;color:#000000;font-size:24px;" class=" ">Upcoming Events</p>
            <ion-list id="dashboard-list11" class=" ">
                <ion-item class="item-icon-left  " id="dashboard-list-item56" ui-sref="tabsController.calendar">
                    <i class="icon ion-ios-calendar-outline"></i>Math Class
                    <span class="item-note">9am - 10am</span>
                </ion-item>
                <ion-item class="item-icon-left  " id="dashboard-list-item61" ui-sref="tabsController.calendar">
                    <i class="icon ion-ios-calendar-outline"></i>Biology
                    <span class="item-note">10am - 11am</span>
                </ion-item>
            </ion-list>
        </div>

        <div class="spacer" style="width: 320px; height: 22px;"></div>
        <div class="item item-body " id="dashboard-list-item-container16">
            <p id="dashboard-markdown16" style="margin-top:0px;color:#000000;font-size:24px;" class=" ">What To-Do</p>
            <ion-list id="dashboard-list17" class=" ">
                <ion-item class="item-icon-left  " id="dashboard-list-item59" ui-sref="tabsController.tasks">
                    <i class="icon ion-ios-checkmark-outline"></i>Pizza Party</ion-item>
                <ion-item class="item-icon-left  " id="dashboard-list-item60" ui-sref="tabsController.tasks">
                    <i class="icon ion-ios-checkmark-outline"></i>Buy Milk</ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
